doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='public/layouts/core.css')
    block neck
  body
    div(aurelia-app="main")
    div.navbar.navbar-default
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='public/media/logo-symbol-64x64.png', alt='Logo')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/') Home
            li: a(href='/about') About
            li: a(href='/signup') Sign Up
            li: a(href='/contact') Contact
          ul.nav.navbar-nav.navbar-right
            if user && user.username
              li: a(href='#{user.defaultReturnUrl}')
                i.fa.fa-user
                |  #{user.username}
            else
              li: a(href='/login')
                i.fa.fa-user
                |  Sign In

    div.page
      div.container
        block body

    div.footer
      div.container
        span.copyright.pull-right
          |&#169; #{copyrightYear} #{copyrightName}
        ul.links
          li: a(href='/') Home
          li: a(href='/contact') Contact
          li: a(href='/account') Account
          li: a(href='/account/settings') Settings
          li: a(href='/admin/categories') Categories
          li: a(href='/admin/statuses') Status
          li: a(href='/admin/users') Users
          li: a(href='/admin/accounts') Accounts
          li: a(href='/admin/administrators') Administrators
        div.clearfix

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='public/jspm_packages/system.js')
    script(src='public/config.js')
    script System.import("aurelia-bootstrapper")

    block feet
